/** start style code css file main **/
/* -> css reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* -> viewPanel-user style */
.viewPanel-user {
    width: 100%;
    height: auto;
}
/* -> input valid style */
#input-valid {
    width: 300px;
    outline: none;
    border: 1px solid #ccc;
    text-align: start;
}
#input-valid:focus {
    border: 1px solid #4d4d5a;
}
/* theme dark */
.themeDark {
    color: #fffafa;
    background-color: #000;
}
/* theme Light */
.themeLight {
    color: #000;
    background-color: #fffafa;
}
/* modal box and style box's content modal */
.modal-box {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 0%;
    left: 40%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
}
.progress-box {
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
}
.progress-box-bar {
    width: 0%;
    height: 3px;
    position: relative;
}
.modal-box.active { 
    position: absolute;
    top: 40%;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}